framework: auto-detect
source https://nuget.org/api/v2
redirects: on

nuget Antlr 3.4.1.9004
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.0
nuget Microsoft.Web.Infrastructure 1.0.0.0
nuget xunit
nuget xunit.runner.console
nuget Moq
nuget FluentAssertions
nuget Microsoft.Owin >= 2.0.2
nuget Microsoft.Owin.SelfHost
nuget Microsoft.AspNet.WebApi.OwinSelfHost
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.Security.OAuth >= 2.0.2
nuget Microsoft.ApplicationInsights >= 2.0
nuget Microsoft.ApplicationInsights.DependencyCollector >= 2
nuget Microsoft.ApplicationInsights.Web